{{define "content"}}
<div>
  <h1>Hello World!</h1>
  <p>
    Welcome to <a href="https://github.com/prologic/go-picocss">go-picocss</a>
    a classical "Hello World" style Web App written in
    <a href="https://golang.org">Go</a>.
    using <a href="http://picocss.com/">PicoCSS</a>.
  </p>
  <o>This is an example of using a "classless" CSS library with a Go backend
  server. It is completely responsive and will seamlessly resize on smaller
  devices. There is even a Hamburger style navication bar that will collapse
  automatically!
  </p>
  <p>
    To try this out:
    <pre>
      <code class="lang-bash">
        $ docker pull prologic/go-picocss
        $ docker run -p 8000:8000 prologic/go-picocss
      </code>
    </pre>
  </p>
</div>
{{end}}
